
/* style.css */

/* General styles */
body {
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

/* Card styles */
.card-header {
    background-color: #343a40;
    color: #ffffff;
}

.card {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Chart Container */
.chart-container {
    position: relative;
    margin: auto;
    height: 350px;
    width: 350px;
}

/* Disable text selection and right-click */
.no-select {
    pointer-events: none;
}

body {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.card-header {
    background-color: #343a40;
    color: #ffffff;
}
